name: 'Mirror repo to Codeberg'

on:
  push:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  mirror_to_codeberg:
    name: 'Mirror repo to Codeberg'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: 'Push'
        env:
          CODEBERG_MIRROR_USERNAME: ${{ secrets.CODEBERG_MIRROR_USERNAME }}
          CODEBERG_MIRROR_PASSWORD: ${{ secrets.CODEBERG_MIRROR_PASSWORD }}
        run: |
          git remote add mirror "https://${CODEBERG_MIRROR_USERNAME}:${CODEBERG_MIRROR_PASSWORD}@codeberg.org/${GITHUB_REPOSITORY}.git"
          git push --mirror mirror
